extends layout.pug

block content
  p Tlaloc is a node.js based sprinkler controller designed to run on a Raspberry Pi.
  ul Features include:
    li Web-based interface for wireless control
    li CRON based scheduling
    li Temperature based scheduling
    li Fertilize option for all sprinkler lines
    
