extends layout.pug
block content
  p(style="text-align: center") Tlaloc is a node.js based sprinkler controller designed to run on a Raspberry Pi.
  ul Features include:
    li Web-based interface for wireless control at home
    li CRON based scheduling for sprinklers with an option to fertilize
    li Temperature dependent heating and water cooling
    
