extends layout

block content
  h4#createruletitle
    a.btn.btn-lg#createrulebutton(data-toggle='collapse' href='#createrulebody' role='button' aria-expanded='false' aria-controls='#createrulebody')
      |Create Rule
  div.collapse.show#createrulebody
    div.card.card-body#createruleinformation
      p RUUUUUUUUUUUUUUles  
