doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Raspberry Pi Sprinkler System")
    meta(name="author" content="Benjamin Steele")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/fontawesome.js')
    script(src='javascripts/solid.js')
  body
    include ./sidebar.pug
    include ./navbar.pug
    div.wrapper
      +sidebar(sidebarTitle, sidebarHeading, link1, link1Sublink1, link1Sublink2, link1Sublink3, link2, link3Sublink1, link3Sublink2, link3Sublink3, link4, link5)      
      div#content
        +navbar(weatherdata)
        block content
        include ./footer.pug
    script(src='javascripts/jquery.slim.min.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src="javascripts/feather.min.js")
    script(src='javascripts/sidebarJQuery.js')
    script(src='javascripts/jquery.mCustomScrollbar.concat.min.js')
