doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Raspberry Pi Sprinkler System")
    meta(name="author" content="Benjamin Steele")
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  body
    include ./headernav.pug
    +headernav(title, Link1, Link2, Link3, Link4)
    block content
    include ./footer.pug
    script(src='javascripts/jquery.slim.min.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src="javascripts/feather.min.js")
