mixin navbar
  nav.navbar.navbar-expand-lg
    div#navcontainer.container-fluid
      div
        button#sidebarCollapse.btn(type="button")
          i.fas.fa-align-left
        button#weatherbutton.btn.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          | Weather
        div#weatherdropdown.dropdown-menu(aria-labelledby="weatherbutton")
          include ./weather.pug
          +weather(weatherdata)
      h6#currenttime #{time} - #{weatherdata.location.name} 
    
