div.fluid-container
  div.row
    nav.col-auto.d-none.d-block.bg-light.sidebar
      div.sidebar-sticky
        ul.nav.flex-column.text-center
          li.nav-item
            a.nav-link(href="#") Overview
          li.nav-item
            a.nav-link(href="#") Link 2
          li.nav-item
            a.nav-link(href="#") Link 3
          li.nav-item
            a.nav-link(href="#") Link 4
